/*
 * -------------------------------------
 *  RNAseq_kallisto Nextflow config file
 * -------------------------------------
 * Default config options for all environments.
 */


process {

  container = 'shub://brucemoran/Singularity:rnaseqkallisto.centos7.mamba'

}

params {

  //output email
  email = null
  help = false

  //program-specific parameters
  bbdkmerx = 31
  bbdmink = 5
  bbdqtrim = 20

  // executing within Singularity so we can hard-code
  bbmapAdapters = "/opt/miniconda/envs/RNAseq_kallisto/opt/bbmap-38.57-0/resources/adapters.fa"
  multiqcConfig = "$baseDir/assets/RNAseq_kallisto.multiQC_config.yaml"

  //set null to allow testing of null state...
  kallistoindex = null
  cdna = null
  stranded = ""

  //for RNAseqR DE analysis modules
  metadataCsv = null
  metadataDesign = null
  controlReference = null
  genomePrefix = null
  msigdbSpecies = "Homo sapiens"
  msigdbCategory = "H"

}

profiles {

  genome {
    includeConfig 'conf/genome.config'
    singularity.enabled = true
  }
  sonic {
    includeConfig 'conf/sonic.config'
    singularity.enabled = true
  }

}

timeline {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.dag.svg"
}
