/*
 * -------------------------------------
 *  RNAseq_kallisto Nextflow config file
 * -------------------------------------
 * Default config options for all environments.
 */

params {

  //program-specific parameters
  bbdkmerx = 31
  bbdmink = 5
  bbdqtrim = 20

  // executing within Singularity so we can hard-code
  bbmapAdapters = "/opt/miniconda/envs/RNAseq_kallisto/opt/bbmap-38.57-0/resources/adapters.fa"
  multiqcConfig = "$baseDir/assets/RNAseq_kallisto.multiQC_config.yaml"

  //set null to allow testing of null state...
  kallistoindex = null
  cdna = null
  stranded = ""

}

profiles {

  genome {
    includeConfig 'conf/genome.config'
    singularity.enabled = true
  }
  sonic {
    includeConfig 'conf/sonic.config'
    singularity.enabled = true
  }

}

process {

  container = 'library://bruce.moran/default/projects:rnaseq_kallisto.centos7.conda'

}

timeline {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/RNAseq_kallisto.dag.svg"
}
